#gitignore

*.[doa]
*~
*.root
*.so
*.pcm
*.pf
*.pyc
*.stat
*.swp
\#*
Makefile
bin
data*
lib
macro
fieldmap
rootfile*
runmanager/conf
runmanager/log
runmanager/stat
runmanager/tmp
runmanager/param
runmanager/macro
scaler
param/KURAMA
